<div class="container" style="margin-top: 20px; margin-left: 30px; width: 777px;">
    <br>
    <h3 style="color: blueviolet; text-align: center;"><strong>Full Stack with Angular 18 Spring Boot and MySql</strong></h3>
    <br>
    <mat-form-field>
        <input (input)="searchEmployee(filter.value)" matInput placeholder="Search Employee Here" type="text" #filter>
    </mat-form-field>
    <button mat-flat-button style="width: 100px; float: right; margin: 15px;">Add +</button>
    <br>
    <!-- table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let employees"> {{employees.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let employees"> {{employees.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let employees"> {{employees.email}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef> Salary </th>
          <td mat-cell *matCellDef="let employees"> {{employees.salary}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let employees; columns: displayedColumns;"></tr>
      </table>
      
      

</div>